/* ------------page styling------------- */

html {
    background-image: url(../images/bg.png);
    background-size: cover;
    /* background-size: 700px;
    background-repeat: repeat; */
    font-family: 'Press Start 2P', cursive;
    size: 12px;
    color: #b2ced1;
     box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    /* z-index: 1000; */
}

#page {
    /* display: flex; */
}

/* #right {
    display: flex;
    flex-direction: column;
} */

#big {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    bottom: 10rem;
    left: 33rem;
    right: 0;
    margin: auto;
    /* width: 700px;
    height: 400px; */
    width: 38rem;
    height: 25rem;
    /* padding: 3rem 0 0  1rem; */
    background-color: rgb(24, 23, 23);
    box-shadow: 5px 5px 5px 0px rgb(32, 32, 32);
    border-radius: 5px;
}

/* ------------game styling------------- */
#game {
    position: absolute;
    top: 6rem;
    bottom: 0rem;
    left: 0rem;
    right: 0;
}

.gamestart {
    display: none;
}

.gameend {
    display: block;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.showgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.hidegame {
    display: none;
}

#header-stoplight {
    position:absolute;
    top:0;
    left:0;
}

#intro, #guesses {
    flex-wrap: wrap;
    line-height: 1rem;
    font-size: 8px;
    color: rgb(47, 255, 75);
    margin: 2.2rem 0 0 1rem;

}
#guesses, #top, #bottom, #pool, #submit {
    display: flex;
    /* margin: 0.5rem; */
    /* flex-direction: column; */
}

#top, #bottom {
    display: flex;
    justify-content: center;
    letter-spacing: 2rem;
    margin-top: 1rem;
    transform: scale(1);
    cursor: pointer;
    /* animation: pulse 2s infinite; */
    /* background: linear-gradient(90deg, #eb7f7f, #d4a57a, #d6c781, #9fe086, #a7ace4, #cca7e4);
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s ease infinite; */
}

#letters {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#pool {
    letter-spacing: 2rem;
    margin: 1rem;
    color: #b2ced128;
    cursor: pointer;
}

#submit {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    size: 15px;
    color: #b2ced1;
    background-color: transparent;
    justify-content: center;
    border: none;
    letter-spacing: 0.2rem;
    width: 6rem;
    height: 3rem;
    padding-top: none;
    cursor: pointer;
    outline: none;
}

.selected {
    color: rgb(132, 168, 247);
    animation: pulse 2s infinite;

}

@keyframes pulse {
	0% {
		/* transform: scale(0.95); */
	}

	50% {
        /* transform: scale(1); */
        color: rgba(132, 168, 247, 0.459)	}

	100% {
		/* transform: scale(0.95); */
	}
}

/* ------------image styling------------- */

#computer, #active-computer {
    position: absolute;
    width: 12rem;
    height: 10rem;
    left: 10.5rem;
    top: 18.5rem;
}

#poster, #active-poster {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 10rem;
    height: 12rem;
}

#poster:hover {
    top: 3rem;
    left: 3rem;
    width: 10rem;
    height: 12rem;
    opacity:0;
}

#dna-poster, #active-dna-poster {
    position: absolute;
    top: 3rem;
    left: 18rem;
    width: 10rem;
    height: 12rem;
}

#dna-poster:hover {
    top: 3rem;
    left: 18rem;
    width: 10rem;
    height: 12rem;
    opacity:0;
}

#desk {
    position: absolute;
    /* top: 22rem; */
    left: 5rem;
    bottom: 0;
    /* z-index: 1; */
}

#rosalind {
    position: absolute;
    left: 26rem;
    bottom: 0;
    width: 15rem;
    height: 25rem;

}

#rosalind:hover {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#beaker {
    position: absolute;
    left: 37rem;
    bottom: 0;
    width: 3rem;
    height: 4rem;
}

#github {
    position: absolute;
    right: 4rem;
    bottom: 0;
    width: 3rem;
    height: 3rem;
}

/* ------------random styling------------- */

#div1 {
    border: 3px solid blue;
    min-width: 50px;
}

#div2 {
    border: 3px solid red;
    min-width: 50px;
}

.dragDivs {
    display: flex;
}


.plus-minus {
    --primary: #1E2235;
    --secondary: #FAFBFF;
    --duration: .5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 240px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 4px solid var(--primary);
    background-size: 300% 300%;
    transition: transform .3s;
    transform: scale(var(--scale, 1)) translateZ(0);
    animation: var(--name, unchecked) var(--duration) ease forwards;
}
    .plus-minus:before,
    .plus-minus:after {
        content: '';
        position: absolute;
        width: 16px;
        height: var(--height, 16px);
        left: 6px;
        top: var(--top, 6px);
        background: var(--background, var(--primary));
        animation: var(--name-icon-b, var(--name-icon, unchecked-icon)) var(--duration) ease forwards;
    }
    .plus-minus:before {
        clip-path: polygon(0 6px, 6px 6px, 6px 0, 10px 0, 10px 6px, 16px 6px, 16px 10px, 10px 10px, 10px 16px, 6px 16px, 6px 10px, 0 10px);
    }
    .plus-minus:after {
        --height: 4px;
        --top: 12px;
        --background: var(--secondary);
        --name-icon-b: var(--name-icon-a, checked-icon);
    }
    .plus-minus:active {
        --scale: .95;
    }
    .plus-minus:checked {
        --name: checked;
        --name-icon-b: checked-icon;
        --name-icon-a: unchecked-icon;
    }

@keyframes checked-icon {
    from {
        transform: translateZ(12px);
    }
    to {
        transform: translateX(16px) rotateY(90deg) translateZ(12px);
    }
}

@keyframes unchecked-icon {
    from {
        transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
    }
    to {
        transform: translateZ(12px);
    }
}

@keyframes checked {
    from {
        background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
        background-position: 100% 50%;
    }
    to {
        background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
        background-position: 50% 50%;
    }
}

@keyframes unchecked {
    from {
        background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
        background-position: 100% 50%;
    }
    to {
        background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
        background-position: 50% 50%;
    }
}