/* ------------page styling------------- */

body {
    background-image: url(../images/bg.png);
    background-size: cover;
    /* background-size: 700px;
    background-repeat: repeat; */
    font-family: 'Press Start 2P', cursive;
    size: 12px;
    color: #b2ced1;
    -webkit-font-smoothing: antialiased;
    /* z-index: 1000; */
}

#page {
    display: flex;
    align-items: flex-end;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* border: 3px solid red; */
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* position: relative; */
    width: 50%;
    /* border: 3px solid orange; */
    /* justify-content: space-between; */
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    top: 5rem; */
    width: 17rem;
    /* border: 3px solid yellow; */
    position: absolute;
    left: 26rem;
    bottom: 0;
}

#rosalind {
    width: 15rem;
    height: 25rem;
}

#rosalind:hover {
    -webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

#right {
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */

}

#big {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    margin-top: 6rem;
    width: 38rem;
    height: 25rem;
    /* padding: 3rem 0 0  1rem; */
    background-color: rgb(24, 23, 23);
    box-shadow: 5px 5px 5px 0px rgb(32, 32, 32);
    border-radius: 5px;
}

/* ------------game styling------------- */

#intro{
    flex-wrap: wrap;
    line-height: 1rem;
    font-size: 8px;
    color: rgb(47, 255, 75);
    margin: 2rem 0 0 1rem;
    min-height: 5rem;
}

#game {
    display: flex;
    flex-direction: column;
}


#guesses, #top, #bottom, #pool, #submit {
    display: flex;
    /* margin: 0.5rem; */
    /* flex-direction: column; */
}

#guesses {
    font-size: 10px;
    color: rgb(114, 26, 26);
    font-family: 'Press Start 2P', cursive;
}

#top, #bottom {
    display: flex;
    justify-content: center;
    letter-spacing: 2rem;
    margin-top: 1rem;
    transform: scale(1);
    cursor: pointer;
    /* animation: pulse 2s infinite; */
    /* background: linear-gradient(90deg, #eb7f7f, #d4a57a, #d6c781, #9fe086, #a7ace4, #cca7e4);
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s ease infinite; */
}

#letters {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#pool {
    letter-spacing: 2rem;
    margin: 1rem;
    color: #b2ced128;
    cursor: pointer;
}

/* #submit {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #b2ced1;
    background-color: transparent;
    justify-content: center;
    border: none;
    letter-spacing: 0.2rem;
    min-width: 6rem;
    min-height: 3rem;
    padding-top: none;
    cursor: pointer;
    outline: none;
    animation: pulse 2s infinite;
} */

.selected {
    color: rgb(132, 168, 247);
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		/* transform: scale(0.95); */
	}

	50% {
        /* transform: scale(1); */
        color: rgba(132, 168, 247, 0.459)	}

	100% {
		/* transform: scale(0.95); */
	}
}

.hide-game-over {
    display: none;
}

.show-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.show-game-over {
    display: block;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hide-game {
    display: none !important;
    color: red;
}   

/* ------------image styling------------- */

#stoplight {
    position: absolute;
    width: 5rem;
    /* top: 4rem; */
}

#posters, #comp {
  display: grid;
  grid-template-columns: 1fr;
  /* border: 3px solid blue; */
  position: absolute;
  bottom: 20rem;
  left: 6rem;
}

#posters > div, #comp > img {
 padding: 50px;
 grid-row-start: 1;
 grid-column-start: 1;
}

#posters > div > img {
    width: 10rem;
    height: 12rem;
}

#posters > div:nth-child(2) > img:hover {
    opacity: 0;
}

#computer, #active-computer {
    width: 12rem;
    height: 10rem;
    position: absolute;
    bottom: 0rem;
    top: -4rem;
    left: 0rem;
}

#desk {
    width: 19rem;
    height: 19rem;
    position: absolute;
    bottom: 0;
    left: 4rem;
}

#new-strand > button, #submit {
    outline: none;
    border: 3px solid #b2ced1;
    font-family: 'Press Start 2P', cursive;
    size: 12px;
    color: #b2ced1;
    background: rgba(0, 18, 100, 0.068);
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 1rem;
    text-transform: uppercase;
}

#new-strand > button:hover, #submit:hover {
    background: rgba(0, 18, 100, 0.24);
}


#beaker {
    /* position: absolute;
    left: 37rem;
    bottom: 0; */
    width: 3rem;
    height: 4rem;
}

#github {
    position: absolute;
    right: 4rem;
    bottom: 0;
    width: 3rem;
    height: 3rem;
}

/* ------------random styling------------- */

#div1 {
    border: 3px solid blue;
    min-width: 50px;
}

#div2 {
    border: 3px solid red;
    min-width: 50px;
}

.dragDivs {
    display: flex;
}


.plus-minus {
    --primary: #1E2235;
    --secondary: #FAFBFF;
    --duration: .5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 240px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 4px solid var(--primary);
    background-size: 300% 300%;
    transition: transform .3s;
    transform: scale(var(--scale, 1)) translateZ(0);
    animation: var(--name, unchecked) var(--duration) ease forwards;
}
    .plus-minus:before,
    .plus-minus:after {
        content: '';
        position: absolute;
        width: 16px;
        height: var(--height, 16px);
        left: 6px;
        top: var(--top, 6px);
        background: var(--background, var(--primary));
        animation: var(--name-icon-b, var(--name-icon, unchecked-icon)) var(--duration) ease forwards;
    }
    .plus-minus:before {
        clip-path: polygon(0 6px, 6px 6px, 6px 0, 10px 0, 10px 6px, 16px 6px, 16px 10px, 10px 10px, 10px 16px, 6px 16px, 6px 10px, 0 10px);
    }
    .plus-minus:after {
        --height: 4px;
        --top: 12px;
        --background: var(--secondary);
        --name-icon-b: var(--name-icon-a, checked-icon);
    }
    .plus-minus:active {
        --scale: .95;
    }
    .plus-minus:checked {
        --name: checked;
        --name-icon-b: checked-icon;
        --name-icon-a: unchecked-icon;
    }

@keyframes checked-icon {
    from {
        transform: translateZ(12px);
    }
    to {
        transform: translateX(16px) rotateY(90deg) translateZ(12px);
    }
}

@keyframes unchecked-icon {
    from {
        transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
    }
    to {
        transform: translateZ(12px);
    }
}

@keyframes checked {
    from {
        background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
        background-position: 100% 50%;
    }
    to {
        background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
        background-position: 50% 50%;
    }
}

@keyframes unchecked {
    from {
        background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
        background-position: 100% 50%;
    }
    to {
        background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
        background-position: 50% 50%;
    }
}

/* html,body{
  height: 100%;
  background: #212121;
  line-height: 24px;
  letter-spacing: 1px;
} */
.item-hints{
  /* height: 300px;
  width: 100px; */
  /* margin: 250px auto; */
}
.item-hints .hint { /* overall button */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 150px auto;
}
.item-hints .hint::before{ /* little internal square */
  background-color: #fff;
  width: 8px;
  height: 8px;
  z-index: 2;
  -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.item-hints .hint::after{ /* green glow */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  -webkit-box-shadow: 0 0 50px 30px rgba(72,170,72,.3);
  box-shadow: 0 0 50px 30px rgba(72,170,72,.3);
  -webkit-animation: green_glow_animation 2s cubic-bezier(.25,.1,.2,1) infinite;
  animation: green_glow_animation 2s cubic-bezier(.25,.1,.2,1) infinite;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
@-webkit-keyframes green_glow_animation {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
  }
}
@keyframes green_glow_animation {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
  }
}
.item-hints .hint-dot { /* circle outline */
  z-index: 3;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  -webkit-transform: translate(-0%,-0%) scale(.95);
  transform: translate(-0%,-0%) scale(.95);
  -webkit-animation: grow-circle-outline-animation 2s linear infinite;
  animation: grow-circle-outline-animation 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes grow-circle-outline-animation {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
@keyframes grow-circle-outline-animation {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
.item-hints .hint-radius { /* big white growing circle */
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,transform;
  transition-property: background-color,opacity,visibility,transform,-webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
  transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
}

.item-hints .hint:hover .hint-radius { /* grow big white circle also */
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* .item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
} */

.item-hints .hint-content { /*hide and position pop up text */
    color: rgba(255, 255, 255, 0.363);
    font-family: 'Ubuntu', sans-serif;
    width: 100px;
    position: absolute;
    z-index: 1;
    /* background-color: red; */
    padding: 12px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    visibility: hidden;
    pointer-events: none
}

.item-hints .hint:hover .hint-content { /* show pop up text on hover */
  color: white;
  width: 100px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity .7s ease,visibility .7s ease;
  transition: opacity .7s ease,visibility .7s ease;
  pointer-events: none;
  visibility: hidden;
  pointer-events: none
}

.item-hints .hint-content::before { /* underline */
  width: 0px;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before { /* length of underline */
  width: 100px;
  transition: width 0.4s;
}

.item-hints .hint-content::after { /* diagonal line */
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 0;
  left: 0;
  width: 50px;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  /* opacity: 1;
  visibility: visible; */
}
.item-hints .hint[data-position="4"] .hint-content { /* position pop out */
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}